.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node.a { fill: #1f77b4; }
.node.b { fill: #ff7f0e; }
.node.c { fill: #2ca02c; }

text {
  fill: #000;
  stroke: none;
  font-size: 16px;
  pointer-events: none;
}
