/* global */

body {
  box-sizing: border-box;
  font-size: 10px;
}

/* layout */

body {
  display: flex;
}

/* console */

#console {
  color: white;
  background-color: black;
  opacity: 0.8;
  overflow: auto;
}

#console.left {
  position: relative;
  height: 100vh;
  resize: horizontal;
}

#console.bottom {
  position: relative;
  height: 100vh;
  resize: vertical;
}

#log-list > li {
  margin: 1rem;
  width: 23rem;
}

#log-list .log-item .log-time {
  display: inline-block;
  width: 7rem;
}

#log-list .log-item .log-tag {
  display: inline-block;
  width: 15rem;
}

/* SVG */
#demo {
  width: calc( 100% - 25rem );
  height: 100vh;
  overflow: hidden;
}

rect, ellipse {
  stroke: black;
  fill: white;
}

line {
  stroke: black;
  stroke-width: 1px;
}

/* ExecutionGraph */

svg.execution-graph {
  width: auto;
}

svg.execution-graph .link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

svg.execution-graph .node {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

svg.execution-graph .node.a { fill: #1f77b4; }
svg.execution-graph .node.b { fill: #ff7f0e; }
svg.execution-graph .node.c { fill: #2ca02c; }

svg.execution-graph text {
  fill: #000;
  stroke: none;
  font-size: 16px;
  pointer-events: none;
}
